# Ignorera exekverbara filer
main

# Ignorera objektfiler och kompilatorns mellanprodukter
*.o
*.out

# Ignorera temporära filer och kataloger
*.log
*.tmp
*.swp
*.bak
*.dSYM/

# Ignorera byggkataloger
build/

# Ignorera alla filer som inte är .c, .h, eller .md
*
!*.c
!*.h
!*.md
!*.txt

# Inkludera .gitignore-filen
!.gitignore

# Ignorera CMake-specifika filer och kataloger
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Ignorera IDE-specifika filer
/.vscode/

/# Ignorera macOS-specifika filer
*.DS_Store
